<h1>Create a recipe</h1>
{{#if errors.length}}
  <p> Can not create a recipe because:</p>

  <ul>
    {{#each errors}}
      {{this}}
    {{/each}}
  </ul>

{{/if}}

<form action="/createRecipe" method="post" enctype="multipart/form-data">

  <div>
    Add title:
    <input type="text" name="title" value="{{title}}" />
  </div>

  <div>
    Add description:
    <input type="text" name="description" value="{{description}}" />
  </div>

  <div>
    Add ingredients:
    <input type="text" name="ingredients" value="{{ingredients}}" />
  </div>

  <div>
    Add directions:
    <input type="text" name="directions" value="{{directions}}" />
  </div>

  <div>
    Add duration:
    <input type="text" name="duration" value="{{duration}}" />
  </div>

  <div>
    Add calories:
    <input type="text" name="calories" value="{{calories}}" />
  </div>


 <select name="durationCategory" value="{{durationCategory}}">
      <option>Choose duration </option>
      <option>Something quick</option>
      <option>I have time</option>
    </select>
  </div>

 <select name="caloriesCategory" value="{{caloriesCategory}}">
      <option>Choose duration </option>
      <option>Low in calories</option>
      <option>High in calories </option>
    </select>
  </div>




<h1>Upload Images here</h1>


<input type="file" name="image" />
    <input type="submit" value="submit" />


  {{!-- <form action="/uploadImg" method="post" enctype="multipart/form-data">

    <input type="file" name="image" />
    <input type="submit" value="submit" />

  </form> --}}




{{!-- <a href="/uploadImg"> Upload Imges here </a> --}}
  {{!-- <input type="submit" value="Create" /> --}}

</form>


