<h1>Create a recipe</h1>
{{#if errors.length}}
  <p> Can not create a recipe because:</p>

  <ul>
    {{#each errors}}
      {{this}}
    {{/each}}
  </ul>

{{/if}}

<form action="/createRecipe" method="post">

  <div>
    Add title:
    <input type="text" name="title" value="{{title}}" />
  </div>

  <div>
    Add description:
    <input type="text" name="description" value="{{description}}" />
  </div>

  <div>
    Add ingredients:
    <input type="text" name="ingredients" value="{{ingredients}}" />
  </div>

  <div>
    Add directions:
    <input type="text" name="directions" value="{{directions}}" />
  </div>

  <div>
    Add duration:
    <input type="text" name="duration" value="{{duration}}" />
  </div>

  <div>
    Add calories:
    <input type="text" name="calories" value="{{calories}}" />
  </div>

  <input type="submit" value="Create" />

</form>