<h1>Recipes</h1>

{{!-- {{#if recipes.length}}
  <ul>
    {{#each recipes}}

      <li>
        <a href="/recipes/{{id}}">
          {{title}}</a>

      </li>
    {{/each}}
  </ul>

{{else}}

  <p> wait for upcoming recipes</p>

{{/if}} --}}

{{#if recipes.length}}

  {{#each recipes}}

    <div class="card">
      <div class="card-header">
        <div class="card-title h5">
          <a href="/recipes/{{id}}">
            {{title}}</a>

        </div>
        <div class="card-subtitle text-gray">
          <p>{{description}}</p>

        </div>
      </div>
    </div>
  {{/each}}

{{else}}

  <p> wait for upcoming recipes</p>

{{/if}}