<div class="adjustingPages">

  {{#if recipe}}
    <h1 class="pageHeadings">
      {{recipe.title}}
    </h1>

    <img src="/imgUploaded/{{recipe.imageURL}}" class="recipeImgs" />
    <div class="adjustingText">
      <h5 class="subHeading">description</h5>
      <p> {{recipe.description}}</p>
      <h5 class="subHeading">ingredients</h5>
      <p>{{recipe.ingredients}}</p>
      <h5 class="subHeading">directions</h5>
      <p> {{recipe.directions}}</p>
      <h5 class="subHeading">duration</h5>
      <p> {{recipe.duration}}Minutes</p>
      <h5 class="subHeading">calories</h5>
      <p> {{recipe.calories}} kcal</p>
      <h5 class="subHeading">caloriesCategory</h5>
      <p>{{recipe.caloriesCategory}}</p>
      <h5 class="subHeading">durationCategory</h5>
      <p> {{recipe.durationCategory}}</p>
    </div>
    {{#if isLoggedIn}}
      <button class="btn btn-primary input-group-btn">
        <a href="/deleteRecipe/{{recipe.id}}" class="showLink">Delete recipe</a>
      </button>

      <button class="btn btn-primary input-group-btn">
        <a href="/updateRecipe/{{recipe.id}}" class="showLink">update recipes</a>
      </button>

    {{/if}}

  {{else}}
    <p> Recipes are being cooked currenlty</p>
  {{/if}}

</div>