{{#if recipe}}
  <h1>
    {{recipe.title}}
    recipes
  </h1>
  <p>{{recipe.description}}</p>
  <p>{{recipe.ingredients}}</p>
  <p>{{recipe.directions}}</p>

{{else}}
  <p> Recipes are being cooked currenlty</p>
{{/if}}