{{#if blogPost}}
  <h1>
    {{blogPost.title}}
  </h1>
  <p>
    {{blogPost.content}}
  </p>
  <p>
    source:
    {{blogPost.source}}
  </p>

{{else}}
  <p> this blog does not exist.</p>
{{/if}}

{{! ////// }}

<h1>Leave comment here</h1>

{{#if validationErrors.length}}
  <p> Can not write a comment because:</p>

  <ul>
    {{#each validationErrors}}
      {{this}}
    {{/each}}
  </ul>

{{/if}}

<form action="/blogs/{{blogPost.id}}" method="post">

  <div>
    Name:
    <input type="text" name="commenterName" value="{{commenterName}}" />
  </div>

  <div>
    Title:
    <input type="text" name="title" value="{{title}}" />
  </div>

  <div>
    Comment:
    <input type="text" name="comment" value="{{comment}}" />
  </div>

  <input type="submit" value="Create" />

</form>

{{! /////Comment section }}

<h1>Comments</h1>
{{#if comments.length}}
  <ul>
    {{#each comments}}
      <li>
        {{commenterName}}
        {{title}}
        {{comment}}
      </li>

      {{! /// to delete }}

      <form action="/deleteComment/{{comment.id}}" method="POST">
        <input type="submit" value="delete" />
      </form>

    {{/each}}
  </ul>
{{else}}
  <p> no comments at the moment</p>
{{/if}}