{{#if recipe}}
  <h1>
    {{recipe.title}}
    recipes
  </h1>
  <p>{{recipe.description}}</p>
  <p>{{recipe.ingredients}}</p>
  <p>{{recipe.directions}}</p>
  <p>{{recipe.duration}}</p>
  <p>{{recipe.calories}}</p>

  {{#if isLoggedIn}}
    <a href="/deleteRecipe/{{recipe.id}}">Delete recipe</a>
    <a href="/updateRecipe/{{recipe.id}}">update recipes</a>
  {{/if}}

{{else}}
  <p> Recipes are being cooked currenlty</p>
{{/if}}