
<div class="adjustingPages">

{{#if blogPost}}
  <h1>
    {{blogPost.title}}
  </h1>
  <p>
    {{blogPost.content}}
  </p>
  <p>
    source:
    {{blogPost.source}}
  </p>



      {{#if isLoggedIn}}
          <a href="/deleteBlogPost/{{blogPost.id}}">Delete blog post</a>
        <a href="/updateBlogPost/{{blogPost.id}}">update blog post</a>
      {{/if}}

{{else}}
  <p> this blog does not exist.</p>
{{/if}}

{{! ////// }}

<h1>Leave comment here</h1>

{{#if errors.length}}
  <p> Can not write a comment because:</p>

  <ul>
    {{#each errors}}
      {{this}}
    {{/each}}
  </ul>

{{/if}}

<form action="/blogPosts/{{blogPost.id}}" method="post">

  <div>
    Name:
    <input class="form-input" id="input-example-1"   type="text" name="commenterName" value="{{commenterName}}" />
  </div>

  <div>
    Title:
    <input class="form-input" id="input-example-1"  type="text" name="title" value="{{title}}" />
  </div>

  <div>
    Comment:
    <input class="form-input inputFieldAdjustment" id="input-example-1" type="text" name="comment" value="{{comment}}" />
  </div>

  <input class="btn btn-primary input-group-btn" type="submit" value="Create" />

</form>

{{! /////Comment section }}

<h1>Comments</h1>
{{#if comments.length}}
  <ul>
    {{#each comments}}
      <li>
        {{commenterName}}
        {{title}}
        {{comment}}
      </li>

      {{! /// to delete }}

      {{#if ../isLoggedIn}}
        
          <a href="/deleteComment/{{id}}/{{../blogPost.id}}">Delete Comment</a>
        <a href="/updateComment/{{id}}/{{../blogPost.id}}">update Comment</a>
      {{/if}}

     
      
    
    {{/each}}
  </ul>
{{else}}
  <p> no comments at the moment</p>
{{/if}}

</div>