  <h1>Update Comment</h1>
  
  <form action="/updateComment/{{id}}/{{blogPostId}}" method="POST">
  <div>
    update Name:
    <input type="text" name="commenterName" value="{{commenterName}}" />
  </div>

  <div>
    update title:
    <input type="text" name="title" value="{{title}}" />
  </div>

  <div>
    update comment:
    <input type="text" name="comment" value="{{comment}}" />
  </div>

  <input type="submit" value="update" />

