 
   <h1>Update Recipe</h1>
   {{#if errors.length}}
  <p> Can not write a comment because:</p>

  <ul>
    {{#each errors}}
      {{this}}
    {{/each}}
  </ul>

{{/if}}
 
 
 <form action="/updateRecipe/{{id}}" method="post" enctype="multipart/form-data">
  <div>
    update title:
    <input type="text" name="title" value="{{recipe.title}}" />
  </div>

  <div>
    update description:
    <input type="text" name="description" value="{{recipe.description}}" />
  </div>

  <div>
    update ingredients:
    <input type="text" name="ingredients" value="{{recipe.ingredients}}" />
  </div>

 <div>
    update directions:
    <input type="text" name="directions" value="{{recipe.directions}}" />
  </div>

  <div>
    update duration:
    <input type="text" name="duration" value="{{recipe.duration}}" />
  </div>

  <div>
    update calories:
    <input type="text" name="calories" value="{{recipe.calories}}" />
  </div>

<h1>update durationCategory: </h1>
  <select name="durationCategory" value="{{recipe.durationCategory}}">
      <option> </option>
      <option {{#if isSomethingQuickSelected}}selected{{/if}}>Something quick</option>
      <option {{#if isIHaveTimeSelected}}selected{{/if}}>I have time</option>
    </select>
  </div>


<h1>update calories Category: </h1>
 <select name="caloriesCategory" value="{{recipe.caloriesCategory}}">
      <option> </option>
      <option {{#if isLowInCaloriesSelected}}selected{{/if}}>Low in calories</option>
      <option {{#if isHighInCaloriesHighSelected}}selected{{/if}}>High in calories </option>
    </select>
  </div>




<h1>update Images here</h1>


<input type="file" name="image" />

  <input type="submit" value="update" />